<md-card class="md-whiteframe-z2" ng-controller="StationCtrl">
<jsonld data-json="jsonId"></jsonld>
  <md-toolbar md-scroll-shrink layout="row" class="md-theme-light" style="color:white;">
    <div class="md-toolbar-tools">
      <md-switch ng-model="data.cb1" aria-label="Direction Switch">
        <span ng-if="!data.cb1">
              <span>To Philadelphia</span> {{id}}
        </span>
        <span ng-if="data.cb1">
              <span>To New Jersey</span>
        </span>
      </md-switch>
      <span flex></span>
      <md-button ng-click="showInfo()">
        <md-icon class="material-icons" style="color:#333">info_outline</md-icon>
      </md-button>
    </div>
  </md-toolbar>
      <md-toolbar layout="row" class="md-hue-2" style="background:#C0C0C0">
      <div class="md-toolbar-tools">
        <span style="color:#333">Departure</span>
        <span flex> </span>
        <span style="color:#333">Status&nbsp;&nbsp;&nbsp;</span>
      </div>
    </md-toolbar>
  <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="schedules != null">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <md-list flex ng-if="!data.cb1">
    <div class="virtualRepeatdemoScrollTo">
      <md-virtual-repeat-container id="vertical-container" md-top-index="topIndex" style="{{listHeight}}">
        <div md-virtual-repeat="item in schedules['westBound']" ng-class-even="'even'" class="repeated-item">
          <div layout="row">
            <div ng-bind="item.departure_time" style="padding-top:15px"></div>
            <span flex></span>
             <md-button class="md-secondary md-raised" md-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                           min-date="minDate"
                           format="hh:mm a"
                           ng-model="time">
              On Time
              <md-icon class="material-icons">mode_edit</md-icon>
            </md-button>
          </div>
        </div>
      </md-virtual-repeat-container>
    </div>
  </md-list>
  <md-list flex ng-if="data.cb1">
    <div class="virtualRepeatdemoScrollTo">
      <md-virtual-repeat-container id="vertical-container" md-top-index="topIndex" style="{{listHeight}}">
        <div md-virtual-repeat="item in schedules['eastBound']" ng-class-even="'even'" class="repeated-item">
          <div layout="row">
            <div ng-bind="item.departure_time" style="padding-top:15px"></div>
            <span flex></span>
            <!-- ng-click="showAdvanced($event)" -->
            <md-button class="md-secondary md-raised" md-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                           min-date="minDate"
                           format="hh:mm a"
                           ng-model="time">
              On Time
              <md-icon class="material-icons">mode_edit</md-icon>
            </md-button>
          </div>
        </div>
      </md-virtual-repeat-container>
    </div>
  </md-list>
</md-card>