<md-dialog aria-labelby="Update Schedule" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Update Schedule</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Coming Soon..</h2>
                <p>This features is or will be included in the mobile app since mypatco <br /> is build voluntarily, maintaince is regulated by users.</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Cancel
            </md-button>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Confirm
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>