<br />
<mat-card class="mat-elevation-z2">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>App Available Now!</mat-card-title>
        <mat-card-subtitle>New Jersey's Public Transportation</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://mypatco.org/Content/train.jpg" class="md-card-image" alt="Patco Train">
    <mat-card-title>About Us</mat-card-title>
    <mat-card-content>
        <p>
            This site is not unaffiliated with the <a href="http://www.drpa.org/">Delaware River Port Authority</a> or
            <a href="http://ridepatco.org/">ridepatco.org</a> as well as any other parties, all rights reserved by their original owners. Like PATCO we "cannot assume responsibility for inconveniences or expenses due to error in its timetable, missed
            connections, or canceled or delayed trains". However we promise to try our best but this site as well as its mobile app are created purely for fun, if you would like to support this project and its applications simple share and like.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Privacy</button>
        <button mat-button>Terms & Condition</button>
    </mat-card-actions>
</mat-card>